<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 style = "color:orange"><center><%= title %></center></h1>
    <div id = "outermost">
    <div id = "formbox">
    <form action ="/users" method="post">
    	<label for="username"><b>Username: </b></label>
    	<input type="text" name="username" placeholder = "enter username" required><br>
    	<label for = "password"><b>Password: </b></label>
    	<input type = "password" name = "password" placeholder = "enter password" required><br>
    	<input type = "submit" value = "Submit">
    </form>
  </div></div>
  </body>
</html>
